<head>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap" rel="stylesheet">
    <style>
        .navbar-brand {
            font-family: 'Montserrat', sans-serif;
            font-weight: 700; /* Bold */
            font-size: 30px; /* Adjust size */
            line-height: 1.2; /* Adjust line height */
            letter-spacing: 1px; /* Adjust spacing between letters */
        }
    </style>
</head>


<!--expand-lg means that the navbar will be expanded once the breakpoint for a LARGE desktop size is passed. -->
<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container d-flex justify-content-center">
        <a class="navbar-brand d-flex align-items-center" href="{{ url_for('choose_decision_task') }}">
            <img src="{{ url_for('static', filename='logo_white.png') }}" alt="Logo" height="40" class="me-2">
            <span> IFAC </span>
        </a>
    </div>
</nav>
